<html>
    <head>

    </head>
    <body>
        <form>
            <label  for="firstName">First Name</label>
            <input type="text" placeholder="First Name" name="firstName" /></br>
            
            <label  for="lastName">Last Name</label>
            <input type="text" placeholder="First Name" name="lastName" /></br>

            <label  for="contactNo">Contact No</label>
            <input type="text" placeholder="Contact No" name="contactNo" /></br>

            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>