<html>
    <head>

    </head>
    <body>
        <form action="/submit" method="POST">
            <label  for="emailID">Email Id</label>
            <input type="text" placeholder="Email ID" name="emailID" /></br>
           
            <label  for="password">Password</label>
            <input type="password" placeholder="password" name="password" /></br>

            <label  for="contactNo">Contact No</label>
            <input type="number" placeholder="Contact No" name="contactNo" /></br>

            <input type="submit" value="Submit"/>
        </form>
        <p>
                <% if(errors){ %>
                    <%=errors%>
                    <%}%>
        </p>
    </body>
</html>